{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% block PartialHead %}
    <meta name="description" content="{{ item.documents[0].data.texts.metaDescription }}">
    <meta name="keywords" content="{{ item.documents[0].data.texts.keywords }}">

    <meta property="og:title" content="{{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ webstoreConfig.domainSsl }}{{ item.documents[0].data | itemURL }}" />
    <meta property="og:image" content="{{  item.documents[0].data.images.all[0].url }}" />
    <meta property="og:description" content="{{ item.documents[0].data.texts.shortDescription }}" />

    <script type="application/ld+json">{"@context":"http://schema.org/","@type":"Product","name":"{{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }}","category":"item.","releaseDate":"{{ item.documents[0].data.variation.releasedAt }}","image":"{{ item.documents[0].data.images.all[0].urlPreview }}","identifier":"{{ item.documents[0].data.variation.id }}","description":"{{ item.documents[0].data.texts.description }}","disambiguatingDescription":"{{ item.documents[0].data.texts.shortDescription }}","manufacturer":{"@type":"Organization","name":"{{ item.documents[0].data.item.manufacturer.externalName }}"},"model":{"@type":"ProductModel","isVariantOf":"{{ item.documents[0].data.item.id }}","model":"{{ item.documents[0].data.variation.model }}"},"offers":{"@type":"Offer","priceCurrency":"{{ item.documents[0].data.prices.default.currency }}","price":"{{ item.documents[0].data.prices.default.price.value }}","availability":"{{ item.documents[0].data.variation.availability.mappedAvailability }}","itemCondition":"{{ item.documents[0].data.item.condition.names.name }}","serialNumber":"{{ item.documents[0].data.variation.number }}"},"depth":{"@type":"QuantitativeValue","value":"{{ item.documents[0].data.variation.lengthMM }}"},"width":{"@type":"QuantitativeValue","value":"{{ item.documents[0].data.variation.widthMM }}"},"height":{"@type":"QuantitativeValue","value":"{{ item.documents[0].data.variation.heightMM }}"},"weight":{"@type":"QuantitativeValue","value":"{{ item.documents[0].data.variation.weightG }}"}}</script>

    <title>{{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}
    <div id="IcecatLive">
    </div>
    <script type="text/javascript">
      setTimeout(function(){IcecatLive.getDatasheet('#IcecatLive',{'UserName': 'openIcecat-live','Brand':'HP','ProductCode':'F0Y97EA'},'de');}, 200);
    </script>

    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0 && currentVariation.prices.rrp.price.value > currentVariation.prices.default.price.value">
            <del class="text-muted small">
                ${ currentVariation.prices.rrp.price.formatted }
            </del>
        </div>
    {% endif %}

    <span class="price h3">
        <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
            ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
        </span>
        <sup>*</sup>
        <span :content="currentVariation.prices.default.currency"></span>
    </span>

    <div class="base-price text-muted m-y-1" v-if="currentVariation.unit">
        <div>
            {{ trans("Ceres::Template.singleItemContent") }}
            <span>${ currentVariation.unit.content | numberFormat }</span>
            <span>${ currentVariation.unit.names.name }</span>
        </div>
        <div v-if="currentVariation.variation.mayShowUnitPrice">
            {{ trans("Ceres::Template.singleItemUnitPrice") }}
            <span class="base-price-value">
                ${ variationGraduatedPrice.basePrice }
            </span>
        </div>
    </div>

    <slot name="AfterPrice"></slot>

    <span class="vat small text-muted">
        * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} {{ trans("Ceres::Template.singleItemExclusive") }}
        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
    </span>

    <slot name="AdditionalContentAfterVAT"></slot>


    <div class="row m-y-1 addToBasket col-xs-12">
        <slot name="BeforeAddToBasket"></slot>

        {{ AddToBasket.printVueComponent(
            "currentVariation",
            false,
            true,
            {
                ":missing-order-properties":"variationMissingProperties",
                ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable"
            }
        ) }}

        <slot name="AfterAddToBasket"></slot>
    </div>
    <!-- ./ITEM DETAIL -->

    <slot name="AdditionalContentAfterAddToBasket"></slot>


    {% include [category_template( item.documents[0].data.item.add_cms_page, lang, webstoreConfig.webstoreId ), "CeresBaseline::Item.SingleItemView"] %}

{% endblock %}
