{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set displayedCategories = [] %}
{% set numberOfFeatures    = config('Ceres.footer.number_of_features') %}
{% set paymentTitle        = config('CeresBaseline.footer.payment_title') %}
{% set newsletter          = config('CeresBaseline.footer.newsletter') %}

{% set colTitle1 = config('CeresBaseline.footer.col_' ~ 1 ~ '_title') %}
{% set colTitle2 = config('CeresBaseline.footer.col_' ~ 2 ~ '_title') %}
{% set colTitle3 = config('CeresBaseline.footer.col_' ~ 3 ~ '_title') %}


<div id="footer" data-plentyflow-section="Footer" data-plentyflow-section-element="space" data-plentyflow-onlyhomepage="true">

    {# TODO: Newsletter einbauen #}
    {% if newsletter == "true" %}
    <div class="newsletter-bg text-xs-center" data-plentyflow-modul="Newsletter" data-plentyflow-modul-element="block, space, display">
        <div class="container-max">
            <div class="row">
                <div class="offset-xs-1 col-xs-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                    <h2 data-plentyflow-element="title" class="newsletter-title mb-xs-15">Newsletter</h2>
                    <p data-plentyflow-element="text">
                        Trends, Angebote und Gutscheine per E-Mail erhalten!
                        Abmelden jederzeit möglich.
                    </p>
                    <form method="post">
                        <div class="input-group">
                            <input name="ActionCall" value="WebActionSendCmsForm" type="hidden">
                            <input name="FormID" value="-1" type="hidden">
                            <input name="PContent" value="166" type="hidden">
                            <input data-plentyflow-element="input ,text" type="text" name="FormFields[2]" id="nl_email" class="form-control" placeholder="E-Mail Adresse*" required="">
                            <span class="input-group-btn">
	                            <button data-plentyflow-element="text, button" type="submit" class="btn btn-primary">Anmelden</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="footer-bg" data-plentyflow-modul="Main-Footer" data-plentyflow-modul-element="block, space">
        <div class="container-max">
            <div class="row">
              <!--Eigener Footer-->
                <div class="container" style="text-align: center;">
                    <hr></hr>
                    <div class="h4" data-plentyflow-element="title">
                        Telefon : 061 511 42 70
                        <br/>E-Mail:   <a href="mailto:anfrage@techniworld.ch">anfrage@techniworld.ch</a>
                        <br/>Montag - Freitag
                        <br/>9.oo - 12.oo Uhr
                        <br/>14.oo - 17.oo Uhr
                    </div>
                    <hr></hr>

                    <div class="footer-column">
                        <div class="h4" data-plentyflow-element="title">{{ colTitle1 }}</div>
                        <a href="/gtc/">AGB</a>
                        <br/><a href="/privacy-policy/">Datenschutz</a>
                        <br/><a href="/legal-disclosure/">Impressum</a>
                        <br/><a href="/contact/">Kontakt</a>
                    </div>

                    <div class="footer-column">
                        <div class="h4" data-plentyflow-element="title">{{ colTitle2 }}</div>
                        <div style="text-align: justify;">
                            Sie benötigen eine größere Menge eines bestimmten Produkts? <br/>Senden Sie Ihre Projektanfrage einfach an <a href="mailto:anfrage@techniworld.ch">anfrage@techniworld.ch</a> und Sie erhalten umgehend unsere Offerte.
                        </div>
                    </div>

                    <div class="footer-column">
                        <div class="h4" data-plentyflow-element="title">{{ colTitle3 }}</div>
                        <div style="text-align: justify;">
                            Alle Preise inkl. MwSt portofrei geliefert. Preisänderungen oder evtl. typographische Fehler vorbehalten. Alle Produktnamen und eingetragenen Warenzeichen gehören ihren jeweiligen Inhabern. Photos und Abbildungen dienen zur Information und sind nicht vertragsbindend.
                        </div>
                    </div>
                </div>

                <div class="footer-column">
                    <div class="h4" data-plentyflow-element="title">{{ paymentTitle }}</div>
                    <div style="width: 180px; margin: auto;">
                      <img alt="SSL" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/ssl_v1.png" style="float:left; margin-right:5px; margin-bottom:10px;" />
                      <img alt="Vorkasse" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/vorkasse_de_v1.png" style="margin-right:5px; margin-bottom:5px;" />
                      <img alt="PayPal" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/paypal_v1.png" style="margin-right:5px; margin-bottom:5px;" />
                      <img alt="Visa" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/visa_v1.png" style="width: 49px; height: 34px; margin-right:5px; margin-bottom:5px;" />
                      <img alt="MasterCard" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/MasterCard.png" style="width: 50px; height: 32px; margin-right:5px; margin-bottom:5px;" title="MasterCard" />
                      <img alt="PostFinance" src="{{ plugin_path('CeresBaseline') }}/images/zahlungsmittel/postfinance_v1.png" style="width: 95px; height: 29px;">
                    </div>
                </div>

                <div class="container" style="text-align: center;">
                    Copyright © 2018 <a href="/legal-disclosure/">techniworld.ch by BHS Binkert Schweiz GmbH</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer" data-plentyflow-modul="Sub-Footer" data-plentyflow-modul-element="block, space">
        <div class="container-max">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-xs-center text-sm-left" data-plentyflow-element="text">
                    {% set shippingID  = config("CeresBaseline.pages.shipping") %}
                    {% set shippingCat = services.category.get(shippingID) %}
                    * {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                    <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
